<a href="https://colab.research.google.com/github/ProData-Emmanuel/Climate-Change-Project/blob/master/Okeke_Emmanuel_Hamoye_Graded_Quiz_STage_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv"
df = pd.read_csv(url)
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [7]:
# Checking for missing values
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [16]:
# Selectinf 20 sample for a multiple Linear Regression Plot
import pandas as pd
import seaborn as sns

multiple_linear_reg_df = df[["Appliances", "RH_2", "RH_4"]].sample(20, random_state=2)
multiple_linear_reg_df

       Appliances       RH_2       RH_4
1117           20  40.900000  38.030000
16275         340  32.030000  35.066667
13272         180  42.626667  37.500000
3160           90  47.126667  46.900000
19210          60  46.760000  42.700000
8260           40  40.500000  35.345000
12299          60  46.126667  40.730000
13505          90  39.090000  40.266667
12913          70  44.360000  39.230000
17788          60  40.238571  37.837143
17894          50  35.725714  32.126667
7665           70  39.090000  35.280000
10165          50  42.090000  35.900000
18809          50  48.290000  44.590000
8737           60  41.693333  35.200000
3164           70  46.430000  46.400000
18194          50  39.700000  36.966667
14194          60  43.000000  36.140000
1469           80  36.590000  37.966667
5151           70  38.500000  35.790000

In [45]:

import pandas as pd
import numpy as np
%matplotlib inline

#Firstly, removing "date" and "lights" features from the dataset
df1=df.drop(["date", "lights"], axis=1)

# import MinMaxScaler, Fit and transform the Dataset
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target_var = normalised_df['Appliances']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target_var, test_size=0.3, random_state=42)

In [50]:

# Import Linear model
from sklearn import linear_model
linear_model = linear_model.LinearRegression()

linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [52]:
# Callculating Mean Absolute Error

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 5)

0.05013

In [54]:
# Calculating R-Squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 5)

0.1489

In [55]:
# The Residual Sum of Squares

import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 5)

45.34763

In [56]:
# The Root Mean Square Error

from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 5)

0.08751

In [57]:
# Q2 Training a Lasso Regression model with an alpha value of 0.001

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [58]:

# Training a Ridge Regression model with an alpha value of 0.4
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [59]:
# Comparing the effects of regularisation
def get_weights_df(model, feat, col_name):

# The function will return the weight of every feature in the model
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [ ]:
from sklearn.model_selection import train_test_split

scaler = MinMaxScaler()
newnormalised_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)
newfeatures_df = normalised_df.(columns=["T2"])
newtarget_var = newnormalised_df[]
x_train, x_test, y_train, y_test = train_test_split(features_df, target_var, test_size=0.3, random_state=42)

# Import Linear model
from sklearn import linear_model
linear_model = linear_model.LinearRegression()

linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)